@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "../../colors.css";

#root {
  height: calc(100% - 77px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--concrete);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 100%;
}

.main__title {
  color: var(--dove-gray);
  margin-bottom: 50px;
  max-width: 600px;
  line-height: 34px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.form__fields {
  max-width: 400px;
  min-width: 400px;
}

.range {
  transform: translateY(11px);
}

.range__values {
  display: flex;
  justify-content: space-between;
}

.range__values span {
  font-size: .6rem;
  font-weight: 100;
}

.field input[type="range"] {
  transform: translateY(5px);
}

.footer {
  font-size: .6rem;
  font-weight: 100;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.form__result {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px -5px 2px -1px var(--silver);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 35%;
}

.form__result h4 {
  color: var(--boulder);
  font-size: .7rem;
  text-align: center;
  margin-bottom: 3px;
}

.form__result p {
  font-size: .7rem;
  font-weight: 100;
  text-align: center;
}

.quota__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quota__container h4 {
  font-weight: 200;
  font-size: 18px;
}

.quota strong {
  font-size: 21px;
  color: var(--dove-gray);
}

.quota span {
  font-size: 28px;
  color: var(--mountain-meadow);
  font-weight: bold;
}

.valor-garantia {
  width: 100%;
}

.button {
  background-color: var(--green-yellow);
  border: none;
  padding: 10px 0;
  width: 100%;
  color: var(--tom-thumb);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 630px) {
  .main {
    height: auto;
    margin: 30px 0;
  }

  .form {
    flex-direction: column;
    align-items: center;
  }

  .form > div {
    width: 100%;
  }

  .form .form__fields {
    min-width: 100%;
    margin-bottom: 30px;
  }

  .form .form__result {
    width: 200px;
    height: 250px;
  }
}
