@import "../../colors.css";

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field-group {
  display: flex;
  margin-bottom: 30px;
}

.field-group .field:first-child {
  margin-right: 30px;
}

.field select {
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  color: var(--emperor);
  border: 1px solid var(--nobel);
  background-color: var(--alabaster);
  border-radius: 4px;
  padding: 10px 5px;
  width: 150px;
}
