@import "../../colors.css";

.header {
  background-color: var(--mountain-meadow);
  padding: 20px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo {
  height: 1em;
  vertical-align: middle;
}

.help {
  text-decoration: none;
  color: var(--concrete);
}
