@import "../../colors.css";

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field label {
  color: var(--dove-gray);
  font-weight: bold;
  font-size: .8rem;
  margin-bottom: 5px;
}
