@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "./colors.css";
@import "./header.css";
@import "./card.css";
@import "./form.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ubuntu';
}

html, body {
  height: 100%;
}

body {
  background-color: var(--concrete);
}

.container {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  padding: 0 10px;
}

.main__title {
  color: var(--dove-gray);
  margin-bottom: 50px;
  max-width: 600px;
  line-height: 34px;
  text-align: center;
}

.footer {
  font-size: .6rem;
  font-weight: 100;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 630px) {
  .main {
    height: auto;
    margin: 30px 0;
  }
}
